<carousel>
    <slide>
        <img src="/assets/images/hero1.jpg" alt="firs slide" style="display: block;width:100%">
    </slide>      
    <slide>
        <img src="/assets/images/hero2.jpg" alt="firs slide" style="display: block;width:100%">
    </slide>      
    <slide>
        <img src="/assets/images/hero3.jpg" alt="firs slide" style="display: block;width:100%">
    </slide>      
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center">
        <h1>Bienvenue sur le ski land</h1>        
    </div>
</section>
