<div class="container">
    <div class="row">

        <div class="col-3">
            <h5 class="text-warning ml-3">Trier par...</h5>
            <select class="custom-select mb-2">
                <option>Alphabetique</option>
                <option>Prix min-max</option>
                <option>Prix max-min</option>
            </select>

            <h5 class="text-warning ml-3">Marque</h5>
            <ul class="list-group my-3">
               <li class="list-group-item" *ngFor="let brand of brands">
                   {{brand.name}}
               </li>
            </ul>
   
            <h5 class="text-warning ml-3">Type</h5>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let type of types">
                    {{type.name}}
                </li>
            </ul>
        </div>
        
        <div class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <header>
                    <span>Liste de <strong>10</strong> sur <strong>50</strong> articles</span>
                </header>
                <div class="form-inline mt-2">
                    <input type="text" style="width: 300px;" placeholder="Trouver..." class="form-control">
                    <button class="btn btn-outline-primary my-2">Chercher</button>  
                    <button class="btn btn-outline-success my-2">Reset</button>  
                </div>
            </div>

            <div class="row">
                <div class="col-4" *ngFor="let product of products">
                    <app-product-item [product]= "product"></app-product-item>
                </div>
            </div>
        </div>    
    </div>
</div>
