<div class="d-flex flex-column justify-content-between flex-md-row align-items-center
  p-4 px-md-4 bg-white border-bottom shadow-sm ">
  <img src="/assets/images/logo-ski.png" style= "max-height: 70px;" routerLink="/" 
    class="logo" alt="logo">
  <!-- <h5 class="my-0 mr-md-auto font-weight-normal position-absolute"></h5> -->
  <div class="my-0 mr-md-auto position-absolute"></div>
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase " style="font-size: larger;">
      <a class="p-2" [routerLink]="['/']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Accueil</a>
      <a class="p-2" routerLink="/shop" routerLinkActive="active">Produits</a>
      <a class="p-2" routerLink="/test-error" routerLinkActive="active" >Erreurs</a>
    </nav>


    <div class="d-flex-align-items-center">
      <a routerLink="/basket" class="position-relative">
        <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>   
<!-- ici: affichage nombre de produits -->
        <div class="cart-no">55</div> 
      </a>
      <a class="btn btn-outline-secondary mr-2">Login</a>
      <a class="btn btn-outline-secondary mr-3" >connexion</a>
    </div>
</div>
