.cart-no
{
    position: absolute;
    min-height: 26px;
    min-width: 26px;
    border-radius: 50%;
    padding-left: 2px;
    font-size: 1em;
    background: blue;
    color: white;
    top: -20px;
    right: 30px;
}
